<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Weisi Kong - Toronto</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<link href="https://getbootstrap.com/docs/4.1/examples/cover/cover.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=EB+Garamond|Lora" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link rel="stylesheet" href="/css/site.css" type="text/css" />

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>
<script src="script.js" type="text/javascript"></script>
</head>
<body class="text-center">

    <div id="cover" class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <div class="overlay d-flex flex-column">
      <header class="masthead mb-auto">
        
          <!--
          <h5 class="masthead-brand">Words alone should be beautiful too.</h5>
          -->
          <nav class="nav nav-masthead justify-content-center">
            {{#navLink "/"}}Home{{/navLink}}
            {{#navLink "/about"}}About{{/navLink}}
            {{#navLink "/projects"}}Projects{{/navLink}}
            {{#navLink "/blog"}}Blog{{/navLink}}
            {{#navLink "/contact"}}Contact{{/navLink}}
          </nav>
        
      </header>
      <div class="cover-caption">
      <main role="main" class="inner cover">
        {{{body}}}
      </main>
      </div>
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <!--
            <p>Created by Venus Kong. <a href="mailto:venus.kong.dev@gmail.com" class="no-underline" >venus.kong.dev@gmail.com</a></p>
          -->
        </div>
      </footer>
      </div>
      
    </div>    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</body>

</html>
