    <section class="about-contact">
    <h2 class="name">Weisi Kong</h2>
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <a href="https://www.linkedin.com/in/weisi-k/" target="_blank" type="button" class="btn btn-secondary btn-custom"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://github.com/venuskws" target="_blank" type="button" class="btn btn-secondary btn-custom"><i class="fab fa-github"></i></a>
        <a href="mailto:weisi.kong@gmail.com" target="_blank" type="button" class="btn btn-secondary btn-custom"><i class="far fa-envelope"></i></a>
    </div>
    </section>
                
    <section class="main about-page-article">
        <article id="article">
            <h2>About me</h2>
            <p>I'm one of the many aspiring developers based in Toronto. This is one of my very first tryout projects. There will be many more on the way, that’s for sure.</p>
            <p>What's special about me? I used to be a law student. Now I have set my mind on becoming a developer. This identity shift often shocks friends in both circles. I think people don't instantly realize how much similarity these two fields share. Care to hear more?</p>
            <button id="hidden1" class="btn btn-lg btn-outline-light btn-pullmore">&darr;Ok. I'm interested. Tell me more. &darr;</button>
        </article>
    </section>