<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card bg-secondary about-contact">
            <div class="card-body">
            <h2>Weisi Kong</h2>           
                <div class="row">
                   <div class="left col-md-5">EMAIL</div>
                   <div class="right col-md-7"><a href="mailto:weisi.kong@gmail.com" target="_blank">weisi.kong@gmail.com</a></div>
                </div>
                <div class="row">
                    <div class="left col-md-5">GITHUB</div>
                    <div class="right col-md-7"><a href="https://github.com/venuskws" target="_blank">https://github.com/venuskws</a></div>
                </div>
                <div class="row">
                    <div class="left col-md-5">LINKEDIN</div>
                    <div class="right col-md-7"><a href="https://www.linkedin.com/in/weisi-k/" target="_blank">https://www.linkedin.com/in/weisi-k/</a></div>
                </div>
            
            </div>
            </div>
        </div>
    </div>
        <section class="main about-page-article">
            <article id="article">
                <h2>About me</h2>
                <p>I'm one of the many newly emerging wanna-be developers based in Toronto. This is one of my very first try-out projects. There will be many more on the way, I guarantee.</p>
                <p>What's special about me? I used to be a law student. Now I'm becoming a developer. This identity shift often shocks people in both circles. I think the question on top of their minds is why. People don't instantly realize how much similarity these two fields share. That's why I'm here to elaborate.</p>
                <button id="hidden1" class="btn btn-lg btn-outline-light">Ok. I'm interested. Tell me more. &darr;</button>
                <!--
                <p>For people from my former circle, and basically from many other professions outside the tech circle itself, developers are often geeks who are good at all computer-related stuff, but suck at socializing and physical activities. They are awkward. Nine out of ten would easily choose video game over drinking in the bar.</p>
                <p>How about when the tech people think about lawyers? Well, what's the stereotype here? He/she wears a dark suit, he/she carries a briefcase, his/her job involves arguing extensively, and he/she is all about fancy legal terms that normal people couldn't understand. He/she makes tons of money and lives extravagantly.</p>
                <p>Of course these are two exagerated stereotypes, but it's true that people tend to focus on these typical characteristics.</p>
                <p>Here's my understanding:</p>
                
                <p>I never met a programmer in real life who meets the descriptions in the stereotype. I kept bumping into IT guys who defy the stereotype, some like to exercise every day and have a good body, some enjoy literature and arts, some can pick up a guitar and play a killer riff, and some are as outgoing as starting a conversation with you right there on the subway. 
                    Seriously, where do these stereotypes come from? And how come even my ICT instructors/advisors kept talking about them?</p>
                <p>As for the lawyers, they don't wear suits unless when it's a big day. Going to trials is not a common part of their daily routine. There are some lawyers who are more agressive and argumentative, but not all feature that. Being extrovert and socialable isn't a necessary quality for a lawyer. I would argue that being reserved and careful about what you say is more likely a lawyer characteristic; conditions are often added to their sentences. And because the whole profession is a conservative one, many don't tend to show their funny side.</p>
                <p>One thing that I find people often neglect about lawyers, is that they think logically. They hone their skills of logical thinking every day. It is emcompassed in everything they say and do. You often need to eliminate emotions from the equation and follow pure logic. That is probably why they get reputation as being sharks. A lawyer's job is not to empathize. A bit of sociopathical qualities is good for what they do.</p>
                <p>This cold-blooded objectiveness and the worship of logic is what actually aligns with a programmer's qualities. As I learned to program, the best thing I learned is that machines don't make mistakes. They are made of cold logics. There is no wiggle room there. </p>
                <p>So the biggest common theme of a lawyer and a programmer's job is that they both need to follow strict logic. There are more nuances to it, as there are more types of lawyers and programmers than I can summerize here, and what logic means to them is not always the same. But you get the general idea, these two professions are not too far apart.</p>
                <p>Here comes also a difference between the two professions, and I think that is why I chose one over another. Lawyers spent their lives living inside the boxes that laws and rules made for them. Sometimes they try to pry open a wiggle room inside the brick of logic, using the illusions of human languages. They dance with cuffs and that is an art.</p>
                <p>But the greatest theme of art is creation. To programmers, the logics are tools to build new creations with. </p>
                -->
            </article>
        </section>
    
</div>