<h1 class="cover-heading">Just beginning...</h1>
        <p class="lead">Words alone should be beautiful too.</p>
        <p class="lead">
          <a href="/about" class="btn btn-lg btn-secondary">Learn more</a>
        </p>