<div class="cover-center">
<h1 class="cover-heading">Hi, I'm Weisi</h1>
        <p class="lead"></p>
        <p class="lead">
          <a href="/about" class="btn btn-lg btn-secondary">Now what?</a>
        </p>
</div>