<div class="container project-container">
    <div class="row">
    <div class="col-md-5">
    <div class="card text-white bg-secondary mb-3" style="max-width: 30em; max-height:25em;">
        <img class="card-img-top" src="/thumbnail.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Ear Tuner</h5>
            <p>A web app designed to support simple practices of the musical ear.</p>
            <a href="https://ear-tuner.herokuapp.com" target="_blank" class="btn btn-primary">Learn more</a>
        </div>
    </div>
    </div>
    
    <div class="col-md-2">

    </div>
    
    <div class="col-md-5 card">
        <p>lalallalal</p>

    </div>
    </div>
</div>