<div class="container project-container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="/thumbnail.png" alt="First slide" >
            <div class="container">
              <div class="carousel-caption">
                <h1>Ear Tuner</h1>
                <p>The original idea comes from the very first ear training app I used: the built-in Pitch Envader and Chord Training in Band-in-a-box. Sadly, the newer version does not carry those any more. These days it also makes more sense to have a training app that can go with you anywhere. I've tried some that are available on the phone. Although most of them are neat, none of them has the specific functionalities that I want. Since I studied web programming this year, it's time to make one for my own!</p>
                <p><a href="https://ear-tuner.herokuapp.com" target="_blank" class="btn btn-secondary">Learn more</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="second-slide" src="/portfolio.png" alt="Second slide" >
            <div class="container">
              <div class="carousel-caption">
                <h1>Personal Portfolio</h1>
                <p>A website containing a few more words to read about me and all projects I made. The idea is for it to serve the purpose of a "portfolio", but as well as being a place where I can write. A little homage to the blogging era. Not that I'm not loving the newer trend: 140 words, images instead of words, etc. But I don't own a 10k camera and am not the best to find good angles to capture a coffee mug, a croissant, and a stack of newspapers, which nobody reads. The point is, words alone must be beautiful, too.</p>
                <p><a href="https://weisi-kong.herokuapp.com/" target="_blank" class="btn btn-secondary">Learn more</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="second-slide" src="/Employee_Management_Site.png" alt="Third slide" >
            <div class="container">
              <div class="carousel-caption">
                <h1>Employee Management Site</h1>
                <p>WEB322 assignment</p>
                <p><a href="http://infinite-brook-17692.herokuapp.com/" target="_blank" class="btn btn-secondary">Learn more</a></p>
              </div>
            </div>
          </div>

          {{!-- <div class="carousel-item">
            <img class="second-slide" src="/weather-at-hand.png" alt="Fourth slide" >
            <div class="container">
              <div class="carousel-caption">
                <h1>Weather At Hand</h1>
                <p>A convenient weather app</p>
                <p><a href="http://weather-at-hand.herokuapp.com/" target="_blank" class="btn btn-secondary">Learn more</a></p>
              </div>
            </div>
          </div> --}}
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
<!--
    <div class="row">
    <div class="col-md-4 offset-md-1">
    <div class="card text-white bg-secondary mb-3 project-card" style="max-width: 30em; max-height:25em;">
        <img class="card-img-top" src="/thumbnail.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Ear Tuner</h5>
            <p>A web app designed to support simple practices of the musical ear.</p>
            <a href="https://ear-tuner.herokuapp.com" target="_blank" class="btn btn-secondary">Learn more</a>
        </div>
    </div>
    </div>
    
    <div class="col-md-4 offset-md-2">
    <div class="card text-white bg-secondary mb-3 project-card" style="max-width: 30em; max-height:25em;">
        <img class="card-img-top" src="/portfolio.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Personal Portfolio</h5>
            <p>A website containing a few more words to read about me and all projects that I made.</p>
            <a href="https://weisi-kong.herokuapp.com/" target="_blank" class="btn btn-secondary">Learn more</a>
        </div>
    </div>

    </div>
    </div>
-->
</div>