html, body {
    height: 100%;
}

#cover {
    background: #222 url("/css/zen-garden.jpg") center center no-repeat;
    background-size: cover;
    height: 100%;
}


/*

.cover-container {
    height: inherit;
}

.inner, .cover {
    height: inherit;
}

.container, .about-page {
    height: inherit;
}

.row {
    height: inherit;
}

section {
    height: inherit;
    overflow: scroll;
}
*/

.about-page-article {
    box-sizing: border-box;
    height: 538px;
    overflow: scroll;
}



.masthead {
    padding-bottom: 40px;
}


.cover-container {
    max-width: 80em;
  }

.project-container {
    width: 60em;
    max-height: 70em;
}

.bg-secondary {
    background-color:#333 !important;
    border: #333 !important;
}

aside {
    font-size: smaller;
}

.left {
    text-align: right;
    padding-right: 3em;
}
.right {
    text-align: left;
}