html, body {
    height: 100%;
    background: #222 url("/css/beach.jpg") center center no-repeat;
    background-size: cover;
    height: 100%;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.7);
}

.container {
    overflow: scroll;
    margin-bottom: 6em;
}
.about-page-article {
    max-width: 70%;
    box-sizing: border-box;
    height: 518px;
    /*overflow: scroll;*/
    margin: auto;
    padding-bottom: 6em;
    /*font-family: 'Lora', serif;*/
    font-family: 'EB Garamond', serif;
    line-height: 30px;
    font-size: large;
    text-align: left;
    text-indent: 2em;
}

.about-contact {
    font-family: 'EB Garamond', serif;
    line-height: 30px;
    font-size: large;
}



.masthead {
    padding-bottom: 40px;
}
.nav-masthead {
    float: none;
}

.cover-container {
    max-width: 80em;
  }

.project-container {
    width: 60em;
    max-height: 70em;
    padding-top: 5em;
}


.bg-secondary {
    background-color:transparent !important;
    border: transparent !important;
}

.about-contact {
    margin-bottom: 3em;
}

.project-card {
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition:transform 0.2s ease-in-out;
    -o-transition:transform 0.2s ease-in-out;
    -ms-transition:transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
}
.project-card:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    
}

.fa-linkedin-in, .fa-github, .fa-envelope {
    font-size: xx-large;
}

h2.name {
    margin-bottom: 1.5em;
}

.btn-custom:hover {
    color: rgb(184, 104, 57);
    background-color: black!important;
}

.btn-pullmore {
    width: 100%;
    border-radius: 0;
}