html, body {
    height: 100%;
    background: #222 url("/css/beach.jpg") center center no-repeat;
    background-size: cover;
    height: 100%;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.7);
}

.cover-center {
    width: 100%;
    padding-top: 15%;
}



.about-page-article {
    max-width: 70%;
    box-sizing: border-box;
    height: 538px;
    overflow: scroll;
    margin: auto;
}



.masthead {
    padding-bottom: 40px;
}
.nav-masthead {
    float: none;
}

.cover-container {
    max-width: 80em;
  }

.project-container {
    width: 60em;
    max-height: 70em;
    padding-top: 5em;
}


.bg-secondary {
    background-color:transparent !important;
    border: transparent !important;
}

.about-contact {
    margin-bottom: 3em;
}

aside {
    font-size: smaller;
}

.left {
    text-align: right;
    padding-right: 3em;
}
.right {
    text-align: left;
}